.site-logo img {
  height: 50px;
}

.question-box {
  margin: 10px 0 0 5%;
}
.question-text {
  position: absolute;
  font-size: 110%;
  margin: -30px 0 0 35px;
}
.question-image {
  max-width: 150px;
  max-height: 120px;
  overflow: hidden;
}
.question-image img {
  width: 150px;
  height: 120px;
  overflow: hidden;
}
.question-instruction {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 120%;
  font-weight: bold;
}

.question-box-left {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 10px 0 10px;
  background-color: #e0ffff;
}
.question-number1 {
  font-size: 150%;
  color: #00008b;
  font-weight: bold;
  margin-left: 5px;
}
.question-box-center {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 10px 0 10px;
  background-color: #fffacd;
}
.question-number2 {
  color: #d2691e;
  font-size: 150%;
  font-weight: bold;
  margin-left: 5px;
}

.question-box-right {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 10px 0 10px;
  background-color: #ffc0cb;
}
.question-number3 {
  color: #800000;
  font-size: 150%;
  font-weight: bold;
  margin-left: 5px;
}
.q-logo img {
  position: absolute;
  width: 40px;
  margin: -70px 0 0 10px;
}
