body {
  font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  background-color: #ffffff;
  width: 80%;
  margin: auto;
}
.main {
  width: 600px;
  height: 400px;
  margin: auto;
  background-color: #b91a1a;
  border: groove #1c148f;
}
.site-logo img {
  height: 100px;
}
.question-title {
  position: absolute;
  margin: -70px 0 0 200px;
  font-size: 150%;
  font-weight: bold;
}
.border-hedder {
  width: 100%;
  height: 3px;
  margin-top: -10px;
  background-color: #00ced1;
}
.question-instruction {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 120%;
  font-weight: bold;
}
.start-button img {
  width: 200px;
  margin: 50px 0 0 200px;
}
