body {
  font-family: "Montserrat", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  background-color: #ffffff;
  width: 80%;
  margin: auto;
}

.title{
  margin: 10px 0 10px 10px;
  font-size: 200%;
  width: auto;
  color: rgb(6, 6, 6);
  font-weight: bold;
}
.true {

  margin: 10px 0 10px 10px;
  font-size: 200%;
  width: 200px;
  color: red;
  font-weight: bold;
}

.false {

  margin: 10px 0 10px 10px;
  font-size: 200%;
  width: 200px;
  color: blue;
  font-weight: bold;
}

.main {
  width: 80%;
  height: auto;
  padding-bottom: 20px;
  margin: 100px auto;
  background-color: #ffffff;
  border: groove #cccccc;
}

.result{
  margin :10px 10px 10px 10px;
}
.site-logo img {
  height: 100px;
}
.question-title {
  display: flex;
  margin: 10px 10px 10px 10px;
  font-size: 150%;
  font-weight: bold;
}
.border-hedder {
  width: 100%;
  height: 3px;
  margin-top: -10px;
  background-color: #00ced1;
}

.question-instruction {
  margin-top: 50px;
  margin-left: 20px;
  font-size: 120%;
  font-weight: bold;
}

.q-logo img {
  position: absolute;
  width: 50px;
  margin: -50px 0 0 30px;
}

.question-box {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 10px 0 10px;
  background-color: #e0ffff;}
.question-text {
  font-size: 110%;
  /* margin: -30px 0 20px 35px; */
  /* overflow-wrap: break-word; */
height: 55px;
width: 150px;
}
.question-image {
  max-width: 150px;
  max-height: 120px;
  overflow: hidden;
}
.question-image img {
  width: 150px;
  height: 120px;
  overflow: hidden;
}
.c-mark svg {
  position: absolute;
  margin: -20px 0 0 -20px;
}

.question-box-1 {
  display: inline-block;
  width: 150px;
  height: auto;
  margin: 0 10px 0 10px;
  background-color: #e0ffff;
  overflow-wrap: break-word;
}
.question_box_1_white {
  display: inline-block;
  width: 150px;
  height: auto;
  margin: 0 10px 0 10px;
  background-color: #e0ffff;
  opacity: 0.3;
}
.question-number1 {
  font-size: 150%;
  color: #00008b;
  font-weight: bold;
  margin-left: 5px;
}
.question-box-2 {
  display: inline-block;
  width: 150px;
  height: auto;
  margin: 0 10px 0 10px;
  background-color: #fffacd;
  overflow-wrap: break-word;

}
.question_box_2_white {
  display: inline-block;
  width: 150px;
  height: auto;
  margin: 0 10px 0 10px;
  background-color: #fffacd;
  opacity: 0.3;
}
.question-number2 {
  color: #d2691e;
  font-size: 150%;
  font-weight: bold;
  margin-left: 5px;
}

.question-box-3 {
  display: inline-block;
  width: 150px;
  height: auto;
  margin: 0 10px 0 10px;
  background-color: #ffc0cb;
}
.question_box_3_white {
  display: inline-block;
  width: 150px;
  height: auto;
  margin: 0 10px 0 10px;
  background-color: #ffc0cb;
  opacity: 0.3;
}
.question-number3 {
  color: #800000;
  font-size: 150%;
  font-weight: bold;
  margin-left: 5px;
}
.q-logo img {
  /* position: absolute; */
  width: 40px;
  margin: -70px 0 0 10px;
}

.form {
display: inline;
}

.send_button{
display: block;
margin: 50px 0 0 10px ;
}

.end-button-wrapper{
display: flex;


  margin: 15px;
  text-decoration: none;
  /* text-align: right; */
  align-items: right;
  justify-content: center;
}

.end-button{
  /* display: flex; */

  padding: 10px;
  border: solid black 1px;
  border-radius: 50%;
  width: auto;
}

.end-button a{
  text-decoration: none;
  font-size: 110%;
}